<div class="group relative">
  <img 
    [src]="movie.Poster !== 'N/A' ? movie.Poster : 'assets/no-image.png'" 
    [routerLink]="[movie.imdbID]" 
    alt="{{ movie.Title }} poster" 
    class="shadow-md w-full rounded-lg bg-white object-cover group-hover:opacity-75 max-sm:h-80 sm:aspect-2/1 lg:aspect-square top-0"
  >

  <div class="absolute top-2 right-2 bg-black bg-opacity-80 text-white text-xs px-3 py-1 rounded-lg">
    {{ movie.Year }} • {{ movie.Type | titlecase }}
  </div>

  <h3 class="mt-6 text-sm text-gray-500">
    <a [routerLink]="[movie.imdbID]">
      <span class="absolute inset-0"></span>
    </a>
  </h3>
  <p class="text-base font-semibold text-gray-900">{{ movie.Title | removeAfterColon }}</p>

  <button *ngIf="watchlist"
    class="px-4 py-2 mt-3 text-white rounded-md transition duration-200 bg-red-500 hover:bg-red-600'"
    (click)="removeMovie()"
  >
   Remove from Watchlist
  </button>
</div>
