
  .search-bar {
    border:3px solid #06b4bc;
    border-radius: 5px;
    width: 900px;
    margin-bottom: 20px;
    gap: 8px;
  }
  
  .movie-list{
    gap: 32px;
  }

  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .no-movies {
    font-size: 18px;
    color: gray;
    margin-top: 20px;
  }
  