

<div class="container mx-auto px-4">

  <div class="flex justify-center my-5">
    <div class="flex items-center bg-white border-4 border-cyan-500 rounded-lg px-4 py-3 w-full max-w-3xl gap-3 shadow-md">
      <input 
        type="text" 
        class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-400"
        placeholder="Search for a movie..." 
        [(ngModel)]="query" 
        (keyup.enter)="fetchMovies()" 
      />
      <button 
        class="p-3 bg-cyan-500 text-white rounded-lg shadow-md hover:bg-cyan-600 transition duration-200"
        (click)="fetchMovies()">
        🔍
      </button>
    </div>
  </div>

  <div *ngIf="loading" class="flex justify-center my-5">
    <div class="w-12 h-12 border-4 border-gray-300 border-t-cyan-500 rounded-full animate-spin"></div>
  </div>

  <p class="text-red-600 text-center font-medium" *ngIf="errorMessage">{{ errorMessage }}</p>

  <ng-container *ngIf="movies.length > 0; else noResults">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 justify-center">
      <ng-container  *ngFor="let movie of movies">
        <app-movie-card [movie]="movie"></app-movie-card>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #noResults>
    <p class="text-center text-gray-500 mt-5 text-lg">No movies found. Try searching for another title.</p>
  </ng-template>

</div>
